
.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}


.navbar-dark {
    border-bottom: 0.5rem  solid white;
    background: rgb(2,104,80);
    background: linear-gradient(180deg, rgba(2,104,80,1) 44%, rgba(60,144,137,1) 100%);
    font-size: 1.1rem;
    text-align: center;
    vertical-align: middle;
}


.bg-secondary{
  background-color: 	#398B7C;
}

.headerSeparator{
  color: #026850;

}

.home-background{
  background: rgb(8,120,96);
  background: linear-gradient(90deg, rgba(8,120,96,1) 55%, rgba(221,225,228,1) 58%);

}

.homebackcontainer{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.homebody{
  padding: 1rem;
  background: rgb(255,255,255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.innerhomebody{
  margin-top: -1rem;
  padding-top: 1rem;
  padding-right: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.homelist{
  list-style-type:none;
}

.homelist > * {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.btn-info{
  background-color: rgba(8,120,96,1);
}

.tittles{
  position: relative;
  text-align: left;
  color: white;
}

.tittles-text{
  position: absolute;
  top: 30%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.tabs{

}
